html{
    
   background-image:
   url(../media/395eed2b0c523ec38f700af784ef2cb4.jpg);
   background-repeat: no repeat;
   background-position: center;
   background-attachment:bfixed;
   background-size: cover;
}